/* global config */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
}
p,span{
  line-height: 1;
  padding: 0;
  margin:0;
}

/* typo */
.font-xl{
  font-size: 100px;
}

.font-l{
  font-size: 40px;

}


.font-m{
  padding: 0 5px;
  font-size: 24px;
  line-height: 1.5;

}

.font-s{
  font-size: 18px;
  padding-top: 10px;
}

.font-xs{
  font-size: 14px;

}

.grey-out{
  color:#c4c4c4
}

/* main app */
.container {
  /* // background-image: url('https://images.unsplash.com/photo-1438401171849-74ac270044ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2692&q=80'); */
  background-size: cover;
  background-position: center;
  color:#fffff8;
  min-height: 100vh;

}

.elem-container{
  min-height: 100vh;
  display:grid;
}


figure,
figure img{
  margin:0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  height:100%;
  width: 100%;
  object-fit: cover;

}

/* today */

.today-container{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  padding:5em;

}

.today{
  padding: 30px 0;
  display: grid;
 text-align: center;
 width:226px;
  height:309px;
  background: rgba(45, 47, 60, 0.17);
  border-radius: 20px;
}



.city-info img{
  padding-bottom: 5px;
}

.today-temp-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.today-temp{
  line-height: 1;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
}

.today-temp div:nth-child(2){
  padding-top: 10px;
}

.today-temp div:last-child{
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}


.today-temp img{
  width:40px;
}

.city-input{
  display: flex;
  justify-content: center;
}

button {
  font:inherit;
  line-height: 1;
  padding:0.5em 1em;
  margin-top: 1em;
  background: none;
  border: 1px solid #fffff8;
  color:#fffff8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover {
  background: #fffff8;
  color:#4F4F4F
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  background-color: rgba(21, 21, 21,0.85);
  height:100%;
  z-index: 300;
}

form input{
  width:60%;
  font-size: 30px;
  padding-bottom: 10px;
  text-align: center;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #fffff8;
  color:#fffff8;
  
}



.confirm,.cancel{
  margin: 2em 1em;
  padding: 1em 3em;
}

.cancel{
  border-color: rgb(158, 158, 158);
  color:rgb(158, 158, 158);
}

#error-msg{
  visibility: hidden;
}

#error-msg p{
 
  color:rgb(255, 0, 0);
  line-height: 2;
}


/* future */

.future{
  display:grid;
  grid-template-columns: repeat(7,auto);
  justify-content: center;
  column-gap: 2%;
  align-items: center;
  width:100%;
  background: rgba(45, 47, 60, 0.62);
  height:253px;
  align-self: flex-end;
}

.unit{
  width:150px;
  height:187px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgba(21, 21, 21,0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unit img{
  width:48px;
  display: block;
  margin:15px 0;

}

.unit span:nth-child(2){
  font-weight: 200;
  color:#4F4F4F;
}

.icon-container {
  width:48px;
  height:60px;
  margin:10px 0;
  
}

/* background image change animation */
.progressive {
  z-index: -999;
}

.progressive img.reveal {
  animation: progressiveReveal 0.8s linear;
  -webkit-animation: progressiveReveal 0.8s linear;
}

@keyframes progressiveReveal {
  0% {  opacity: 0; }
  100% { opacity: 1; }
}



/* hide elem */

.hidden{
  display:none;
}



/* small to medium screens */

@media only screen and (max-width:1200px){
  body{
    overflow: unset;
  }

  .future{
    display:flex;
    flex-wrap: nowrap;
    column-gap: 0;
    justify-content: unset;
    overflow-x: scroll;
  }

  .unit{
    margin:0 15px;
    
  }
}




/* small screens */

@media only screen and (max-width:768px){

  .today-container{
    align-items: center;
    justify-content: center;
    
  }

  .confirm,.cancel{
    display:block;
    width:200px;
  }


}